* {
    max-width: 100%;
}

body {
    background-color: #d3d3d4;
}

/* Sets the navigation bar */
.navbar {
    display: flex;
    background-color: #25282b;
    flex-direction: row;
    padding-right: 15px;
    padding-left: 15px;
    justify-content: space-between;
    align-items: center;
}

.nav-item {
    padding: 10px;
    text-decoration: none;
    color: #4bc3aa;
}
/* Makes the navigation bar items change background when hovered on */
.nav-item:hover {
    background-color: #555;
}

.navdiv {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

li {
        display: inline-block;
        margin: 25px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 100%;
        font-weight: 400;

}

/* Sets the main header */
header {
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 280%;
        font-weight: 400;
        color: #4bc3aa;
}

/* This creates the banner under the navigation bar */
.hero {
    width: 100%;
    height: 200px;
    background-image: url(../background.jpg);
    background-size: cover;
    background-position: center;
    z-index: 2;
}

.aboutme {
    display: flex;
    justify-content: center;
}

/* Formats the secondary headers */
.header2 {
    font-size: 300%;
    font-weight: 300;
    padding-right: 50px;
    padding-left: 15%;
    padding-top: 50px;
    color: #013668;
}

/* Formats the entire works section */
.work {
    display: wrap;
    padding: 40px, 40px, 40px, 40px;
    justify-content: center;
}

/* This is to change only the text in a p element which is a child of a section element */
section>p {
    padding: 40px;
    color: #013668;
}

/* Creates a flex box for the main content */
.flexcontainer {
display: flex;
}

/* This targets the big card out of the 4 cards */
.specialcard {
    height: 25%;
    width: 50%;
    border: 7px solid #4bc3aa;
    transform: rotate(3deg);
    box-shadow: 5px 10px 20px #555;
}

#header2 {
    font-size: 300%;
    font-weight: 300;
    color: #013668;
}

/* This targets the 3 smaller cards out of the 4 */
.card {
    height:17%;
    width: 17%;
    margin: 5%;
    border: 7px solid #4bc3aa;
    transform: rotate(3deg);
    box-shadow: 5px 10px 20px #555;
}

/* This targets the 3 smaller works out of the 4 */
.smallworks {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-left: 20%;
}

h3 {
    background-color: #4bc3aa;
    color: #013668;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 120%;
}

.workflex {
    display: flex;
    justify-content: space-evenly;
    margin-top: 10%;
}

.contactme {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    color: #013668;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 125%;
    font-weight: 300;
    padding-top: 9%;
}

h4 {
    font-size: 210%;
    font-weight: 400;
    color: #013668;
    padding-right: 10%;
    padding-left: 1%;
}

/* Makes the big card get bigger when hovered on */
.specialcard:hover {
    height: 26%;
    width: 51%;
}

/* Makes the small cards get bigger when hovered on */
.card:hover {
    height: 18%;
    width: 18%;
}

/* This is setting the size of my profile pic */
.profilepic {
    display: flex;
    justify-content: center;
    height: 90%;
    width: 90%;
    margin: 3%;
}

.profilepic>img {
    border: 10px solid #4bc3aa;
    box-shadow: 5px 10px 20px #555;
}
